<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo App</title>
    <link href="./../style.css" rel="stylesheet">
    <link href="./../form.css" rel="stylesheet">

    <link rel="stylesheet" href="https://cdn.rawgit.com/mfd/09b70eb47474836f25a21660282ce0fd/raw/e06a670afcb2b861ed2ac4a1ef752d062ef6b46b/Gilroy.css">

</head>

<body>
    <h1 class="welcome"></h1>
    <p class="welcome-2">Let's get productive today!</p>

    <div class="time-and-date">
        <p class="time"></p>
        <p class="date"></p>
    </div>
    <ul>



        <% data.forEach(todoItem => { %>

            <li id="<%= todoItem._id %> " class="todo-item-li <% if (todoItem.checked === true) { %> <%= " checked " %> <%};%>">
                <div class="todo-item-container">
                    <% if (todoItem._id == elementToBeEdited._id.toString()) { %> 
                        <a class="checkbox" href="/check/<%=todoItem._id%>"><svg <% if (todoItem.checked === true)  { %>fill='#00acea'<%};%> xmlns="http://www.w3.org/2000/svg" height="3rem" width="3rem" data-name="Layer 1" viewBox="0 0 100 125" x="0px" y="0px"><title>Artboard 82</title><path d="M47,60h.17a3,3,0,0,0,2.08-1l15-17-4.5-4-13,14.73-7.75-7-4,4.46,10,9A3,3,0,0,0,47,60Z"/><circle cx="26" cy="36" r="3" transform="translate(-18.18 40.52) rotate(-60)"/><circle cx="36" cy="26" r="3" transform="translate(-8.18 21.48) rotate(-30)"/><path d="M50,19H47v6h3A25,25,0,1,1,25,50V47H19v3A31,31,0,1,0,50,19Z"/></svg></a>

                        <form method="post" action="/edit/<%=elementToBeEdited._id.toString()%>" class="edit-form" autocomplete="off">

                            <input type="text" value="<%= elementToBeEdited.name %>" class="edit-textbox" name="name">
                            <input type="text" id="<%=elementToBeEdited._id%>" name="id" value="<%=elementToBeEdited._id%>" hidden>
                            <label for="btn" id="editSubmit"><svg height="1.7rem" viewBox="-26 0 511 511.99913" width="1.7rem" xmlns="http://www.w3.org/2000/svg"><path d="m39.304688 256.472656c0 63.84375 31.71875 120.285156 80.261718 154.414063 8.554688 6.011719 9.007813 18.507812.792969 24.976562l-.230469.183594c-5.367187 4.222656-12.890625 4.503906-18.480468.578125-56.667969-39.796875-93.703126-105.652344-93.703126-180.152344 0-120.84375 100.023438-218.941406 220.625-219.976562v31.371094c-103.292968 1.023437-189.265624 85.074218-189.265624 188.605468zm0 0" fill="#1ed688"/><path d="m234.328125 8.449219 57.632813 39.421875c3.085937 2.109375 3.085937 6.664062 0 8.777344l-57.632813 39.417968c-3.527344 2.414063-8.320313-.113281-8.320313-4.386718v-78.84375c0-4.273438 4.792969-6.800782 8.320313-4.386719zm0 0" fill="#1ab975"/><path d="m420.839844 255.523438c0-63.847657-31.722656-120.285157-80.261719-154.414063-8.554687-6.015625-9.007813-18.511719-.792969-24.976563l.230469-.183593c5.367187-4.222657 12.890625-4.503907 18.476563-.578125 56.667968 39.796875 93.707031 105.652344 93.707031 180.152344 0 120.84375-99.859375 218.941406-220.457031 219.972656v-31.367188c103.289062-1.023437 189.097656-85.074218 189.097656-188.605468zm0 0" fill="#1ed688"/><path d="m225.816406 503.546875-57.632812-39.421875c-3.085938-2.109375-3.085938-6.664062 0-8.777344l57.632812-39.421875c3.527344-2.414062 8.320313.113281 8.320313 4.390625v78.839844c0 4.277344-4.792969 6.804688-8.320313 4.390625zm0 0" fill="#1ab975"/><path d="m327.898438 231.554688-94.402344 78.292968-23.800782 19.734375c-5.609374 4.648438-12.707031 7.171875-19.925781 7.171875-1.203125 0-2.402343-.070312-3.617187-.210937-8.417969-.992188-16.167969-5.457031-21.253906-12.246094l-36.710938-48.933594c-8.289062-11.054687-6.046875-26.746093 5.007812-35.046875 11.0625-8.289062 26.753907-6.046875 35.046876 5.007813l24.78125 33.042969.199218-.160157 102.726563-85.191406c10.640625-8.820313 26.421875-7.351563 35.242187 3.292969 8.824219 10.644531 7.351563 26.425781-3.292968 35.246094zm0 0" fill="#1ed688"/><path d="m327.898438 231.554688-94.402344 78.292968c-15.441406-7.710937-29.019532-18.363281-40.273438-31.640625l102.726563-85.191406c10.640625-8.820313 26.421875-7.351563 35.242187 3.292969 8.824219 10.644531 7.351563 26.425781-3.292968 35.246094zm0 0" fill="#35e298"/><path d="m123.886719 404.742188c-48.261719-33.929688-77.074219-89.359376-77.074219-148.269532 0-96.339844 76.34375-175.921875 171.6875-180.851562v16.058594c0 10.265624 11.546875 16.414062 20.070312 10.585937l57.625-39.417969c7.445313-5.085937 7.445313-16.085937.003907-21.175781l-57.628907-39.421875c-2.152343-1.472656-4.652343-2.25-7.226562-2.25-7.082031 0-12.84375 5.757812-12.84375 12.835938v16.339843c-39.832031 1.636719-78.433594 13.644531-112.070312 34.933594-3.503907 2.21875-4.546876 6.859375-2.328126 10.363281 2.214844 3.507813 6.859376 4.546875 10.359376 2.328125 31.234374-19.765625 67.050781-30.96875 104.03125-32.59375v16.359375c-104.042969 4.898438-186.699219 90.695313-186.699219 195.90625 0 63.796875 31.199219 123.816406 83.453125 160.554688 8.992187 6.320312-.832032 19.386718-9.28125 13.453125-113.714844-79.863281-121.929688-246.328125-14.878906-336.550781 3.171874-2.671876 3.574218-7.410157.902343-10.582032s-7.410156-3.578125-10.582031-.902344c-114.679688 96.652344-105.726562 274.890626 15.925781 360.324219 8.085938 5.683594 19.226563 5.683594 27.667969-1.003906 12.167969-9.574219 11.546875-28.121094-1.113281-37.023437zm109.632812-387.75 51.554688 35.265624-51.554688 35.265626zm0 0"/><path d="m362.808594 69.226562c-15.46875-10.867187-36.929688.890626-36.425782 19.667969.199219 7.394531 3.800782 14.085938 9.875 18.359375 48.261719 33.929688 77.074219 89.355469 77.074219 148.269532 0 96.339843-76.34375 175.917968-171.6875 180.847656v-16.054688c0-10.265625-11.550781-16.414062-20.070312-10.585937l-57.625 39.417969c-7.449219 5.085937-7.445313 16.082031-.003907 21.175781 62.953126 43.0625 59.460938 41.667969 64.855469 41.667969 7.082031 0 12.84375-5.757813 12.84375-12.835938v-16.347656c121.285157-4.921875 218.0625-104.652344 218.0625-227.285156 0-74.042969-36.222656-143.6875-96.898437-186.296876zm-136.183594 425.773438-51.554688-35.261719 51.554688-35.265625zm15.03125-27.210938v-16.363281c104.035156-4.894531 186.695312-90.691406 186.695312-195.902343 0-63.796876-31.199218-123.816407-83.453124-160.554688-2.15625-1.515625-3.433594-3.878906-3.5-6.480469-.179688-6.539062 7.480468-10.699219 12.78125-6.972656 56.675781 39.804687 90.511718 104.851563 90.511718 174.007813-.003906 113.621093-90.402344 207.296874-203.035156 212.265624zm0 0"/><path d="m194.300781 267.550781-20.046875-26.726562c-17.390625-23.191407-54.171875-13.582031-58.25 14.921875-1.230468 8.605468.96875 17.171875 6.183594 24.128906l36.699219 48.933594c13.222656 17.628906 38.59375 20.660156 55.597656 6.558594l118.210937-98.027344c13.847657-11.480469 15.761719-31.976563 4.28125-45.824219-11.453124-13.808594-32.011718-15.730469-45.824218-4.277344zm131.113281-66.449219c6.179688 7.453126 5.152344 18.492188-2.304687 24.675782l-118.210937 98.027344c-10.375 8.601562-25.902344 6.78125-33.996094-4.007813l-36.699219-48.933594c-2.808594-3.746093-3.992187-8.359375-3.328125-12.992187 2.207031-15.464844 22.039062-20.464844 31.363281-8.035156l24.777344 33.039062c2.558594 3.410156 7.480469 4.03125 10.804687 1.273438l102.917969-85.347657c7.4375-6.167969 18.507813-5.136719 24.675781 2.300781zm0 0"/></svg></label>
                            <button type="submit" class="edit-submit" name="btn" id="btn" hidden></button>
                        </form>
                        <% } else { %> 
                            <a class="checkbox" href="/check/<%=todoItem._id%>"><svg <% if (todoItem.checked === true)  { %>fill='#00acea'<%};%> xmlns="http://www.w3.org/2000/svg" height="3rem" width="3rem" data-name="Layer 1" viewBox="0 0 100 125" x="0px" y="0px"><title>Artboard 82</title><path d="M47,60h.17a3,3,0,0,0,2.08-1l15-17-4.5-4-13,14.73-7.75-7-4,4.46,10,9A3,3,0,0,0,47,60Z"/><circle cx="26" cy="36" r="3" transform="translate(-18.18 40.52) rotate(-60)"/><circle cx="36" cy="26" r="3" transform="translate(-8.18 21.48) rotate(-30)"/><path d="M50,19H47v6h3A25,25,0,1,1,25,50V47H19v3A31,31,0,1,0,50,19Z"/></svg></a>
                            <p <% if (todoItem.checked === true) { %> class=<%= " checked " %> <%};%>>
                                <%= todoItem.name %>
                            </p>
                            <div class="icons">
                                <a class="edit" href="/edit/<%=todoItem._id%>"><svg height="1.3rem" viewBox="0 -1 401.5411 401" width="1.3rem" xmlns="http://www.w3.org/2000/svg"><path d="m381.289062 32.242188c13.671876 13.664062 13.671876 35.824218 0 49.488281l-17.679687 17.679687-61.230469-61.230468 17.679688-17.679688c13.671875-13.667969 35.832031-13.667969 49.5 0zm0 0" fill="#00acea"/><path d="m363.609375 99.410156-160.148437 160.160156h-.011719l-61.230469-61.230468 160.160156-160.160156zm0 0" fill="#00efd1"/><path d="m142.21875 198.339844 61.230469 61.230468-.570313.570313-84.6875 23.460937 23.457032-84.691406zm0 0" fill="#fedb41"/><g fill="#083863"><path d="m370.589844 250.960938c-5.523438 0-10 4.476562-10 10v88.789062c-.019532 16.5625-13.4375 29.980469-30 30h-280.589844c-16.5625-.019531-29.980469-13.4375-30-30v-260.589844c.019531-16.558594 13.4375-29.980468 30-30h88.789062c5.523438 0 10-4.476562 10-10 0-5.523437-4.476562-10-10-10h-88.789062c-27.601562.03125-49.96875 22.398438-50 50v260.589844c.03125 27.601562 22.398438 49.96875 50 50h280.589844c27.601562-.03125 49.96875-22.398438 50-50v-88.789062c0-5.523438-4.476563-10-10-10zm0 0"/><path d="m376.632812 13.429688c-17.589843-17.546876-46.058593-17.546876-63.644531 0l-178.410156 178.410156c-1.21875 1.222656-2.105469 2.738281-2.566406 4.398437l-23.457031 84.691407c-.964844 3.472656.015624 7.191406 2.5625 9.742187 2.550781 2.546875 6.269531 3.527344 9.742187 2.566406l84.691406-23.460937c1.664063-.460938 3.183594-1.347656 4.40625-2.570313l.566407-.570312 177.835937-177.835938c17.574219-17.570312 17.574219-46.058593 0-63.628906zm-229.675781 203.789062 37.613281 37.617188-52.03125 14.414062zm56.5 42.355469v-.007813l6.519531 6.519532zm0-14.140625-47.09375-47.09375 146.015625-146.015625 47.089844 47.085937zm170.761719-170.773438-10.609375 10.609375-47.085937-47.089843 10.609374-10.609376c9.765626-9.746093 25.582032-9.746093 35.351563 0l11.734375 11.746094c9.765625 9.757813 9.765625 25.585938 0 35.34375zm0 0"/></g></svg></a>
                                <a class="delete" href="/delete/<%=todoItem._id%>"><svg id="Capa_1" enable-background="new 0 0 512 512" height="1.3rem" viewBox="0 0 512 512" width="1.3rem" xmlns="http://www.w3.org/2000/svg"><g><g><path d="m415.158 85.758c-.268.087-93.932 27.686-94.198 27.777-10.041 3.493-16.788 12.983-16.788 23.614v42.223c0 8.285 6.716 15.001 15.001 15.001h114.008c8.285 0 15.001-6.716 15.001-15.001v-69.935c0-17.077-16.817-29.172-33.024-23.679z" fill="#ff5e94"/><path d="m160.161 164.371v282.624c0 35.844 29.161 65.005 65.005 65.005h158.012c35.844 0 65.005-29.161 65.005-65.005 0-15.734 0-274.731 0-282.624z" fill="#9dcfff"/><path d="m304.172 164.371v347.629h79.006c35.843 0 65.005-29.162 65.005-65.005v-282.624z" fill="#72bbff"/><g fill="#5a5a5a"><path d="m237.431 233.376c-8.285 0-15.001 6.716-15.001 15.001v179.616c0 8.285 6.716 15.001 15.001 15.001s15.001-6.716 15.001-15.001v-179.616c0-8.285-6.717-15.001-15.001-15.001z"/><path d="m304.171 233.376c-8.285 0-15.001 6.716-15.001 15.001v179.616c0 8.285 6.716 15.001 15.001 15.001s15.001-6.716 15.001-15.001v-179.616c0-8.285-6.716-15.001-15.001-15.001z"/></g><g fill="#444"><path d="m319.172 248.381v179.613c0 8.281-6.72 15.001-15.001 15.001v-209.615c8.281 0 15.001 6.71 15.001 15.001z"/><path d="m370.912 233.376c-8.285 0-15.001 6.716-15.001 15.001v179.616c0 8.285 6.716 15.001 15.001 15.001s15.001-6.716 15.001-15.001v-179.616c0-8.285-6.716-15.001-15.001-15.001z"/></g><path d="m192.17 18.07s0 0-.01 0c-15.336-9.588-36.016-7.793-49.46 5.65v.01l-27.58 27.57-27.58 27.58c-15.6 15.6-15.6 40.98 0 56.57l14.15 14.15 20.31-2.1.9-19.12-14.14-14.14c-3.9-3.9-3.9-10.25 0-14.14l27.58-27.58 27.57-27.58h.01c3.689-3.689 10.025-4.116 14.13-.01l14.15 14.15 18.55-3.08 2.67-18.13c-14.806-14.806-16.41-16.818-21.25-19.8z" fill="#5a5a5a"/><path d="m192.17 18.07s0 0-.01 0c-15.297-9.564-35.968-7.831-49.46 5.66l-27.58 27.57 21.22 21.22 27.58-27.58c3.686-3.686 10.017-4.124 14.13-.01l14.15 14.15 21.22-21.21c-15.291-15.291-16.162-16.574-21.25-19.8z" fill="#444"/><path d="m317.418 37.108-26.872-26.872c-13.647-13.647-35.853-13.647-49.501 0l-166.992 166.991c-13.647 13.647-13.647 35.853 0 49.501l26.872 26.872c5.857 5.858 15.356 5.859 21.214 0l195.279-195.278c5.858-5.858 5.858-15.356 0-21.214z" fill="#3ba9ff"/><path d="m290.545 10.236 26.872 26.872c5.855 5.855 5.862 15.352 0 21.215l-97.637 97.637-62.23-62.23 83.494-83.494c13.648-13.648 35.853-13.648 49.501 0z" fill="#0081ff"/></g></g></svg></a>
                            </div>
                            <% }; %> 


                </div>
            </li>

            

            <% }); %>
    </ul>


    <img src="./../assets/music.svg" alt="Guy practicing the guitar" id="img1">
    <img src="./../assets/painting.svg" alt="Girl painting a picture" id="img2">

    <%- include("inputFrom.ejs") %>

        <!-- * SCRIPTS * -->
        <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
        <script src="./../app.js"></script>
</body>

</html>