<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo App</title>
    <link href="./../style.css" rel="stylesheet">
</head>

<body>
    <h1>Hi there from Ejs</h1>
    <% data.forEach(item => { %>

        <% if (item._id === "6007f7438771055826407775") { %>
            <form action="/edit" method="post" id="editTodo">
                <input type="text" value="<%=elementToBeEdited.name%>" />
                <input type="text" value="<%=elementToBeEdited._id%>" hidden />
            </form>
            <% } else { %>
                <li class="todo-item">
                    <a href="/edit/<%= item._id%>" <%=onclick="console.log(`hi`)" %> >
                        <%= item.name %>
                    </a>
                </li>

                <% } %>
                    <%  }); %>


                        <%- include("inputFrom.ejs") %>

                            <!-- * SCRIPTS * -->
                            <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
                            <script src="./../app.js"></script>
</body>

</html>